# IDE
.idea
.vscode

# MacOSX
.DS_Store

# Local .terraform directories
**/.terraform/*

# Lock file
**/.terraform.lock.hcl

# TFScaffold temp backend
**/backend_tfscaffold.tf

# Plugin cache
**/plugin-cache/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# TFenv
**/components/**/tfenv_download*

# local.tfvars
# For overriding values temporarily when running TF locally
# or when the value in the pipeline is provided in a different way.
**/local.tfvars
